[submodule "service/api/admin"]
	path = service/api/admin
	url = git@github.com:logan-liang/admin.git
[submodule "service/api/miniProgram"]
	path = service/api/miniProgram
	url = git@github.com:logan-liang/mini.git
[submodule "service/user"]
	path = service/user
	url = git@github.com:logan-liang/user.git
